.checkout {}

.page-checkout {}

.checkout__wrapper {
    @include container();
}

.checkout__inner {
    display: flex;
    gap: 70px;
}

.checkout__wrapper-swiper {
    margin-top: 36px;
    margin-bottom: 36px;
}

.checkout__wrapper-swiper_active {
    font-weight: 700;
}

.form {
    max-width: 722px;
}

.form__title {}

.form__title-text {
    margin-bottom: 21px;
    max-width: 130px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
}

.form input {
    margin: 0;
    width: 100%;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 3px;
    width: 350px;
    font-size: 15px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    line-height: 15px;
    padding: 10px;

    &:focus {
        outline: none;
    }
}

// form name start 
.form__name {
    display: flex;
    gap: 22px;
    margin-bottom: 30px;
}

.form__name-first {}

.form__name-first-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

.form_star {
    position: absolute;
    margin-left: 3px;
}

.form__name-last {}

.form__name-last-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

// form name end

// form country start
.form__country {
    display: flex;
    gap: 22px;
    margin-bottom: 30px;
}

.form__country-country {
    position: relative;
}

.form__country-country-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

.form__country-city {}

.form__country-city-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

.form__country-country-vector {
    cursor: pointer;
    position: absolute;
    top: 43px;
    right: 11px;
}

// form country end

.form__street {
    margin-bottom: 30px;
}

.form__street-address {}

.form__street-address-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

.form__street-addres-block {}

#street {
    margin-right: 18px;
}

// state start
.form__state {
    display: flex;
    gap: 22px;
    margin-bottom: 30px;
}

.form__state-state {
    position: relative;
}

.form__state-state-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

.form__state-state-vector {
    cursor: pointer;
    position: absolute;
    top: 42px;
    right: 11px;
}

.form__state-zip {}

.form__state-zip-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

// form email start
.form__email {
    position: relative;
    display: flex;
    gap: 22px;
    margin-bottom: 30px;
}

.form__email-address {}

.form__email-address-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

.form__email-phone {
    position: relative;
}

.form__email-phone-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

#phone {
    max-width: 78px;
}

.form__email-phone-vector {
    cursor: pointer;
    position: absolute;
    top: 42px;
    right: 37px;
}

// form email end

// form ship start
.form__ship {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#ship {
    width: 1px;
    height: 1px;
    cursor: pointer;
    margin: 0;
    width: 15px;
    display: inline-block;

    &[type="radio"]:checked+.form__ship-radio {
        background: rgb(70, 163, 88);
    }
}

.form__ship-radio {
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid rgb(70, 163, 88);
}

.form__ship-label {
    cursor: pointer;
    margin-left: 3px;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
}

// form ship end

.form__notes {}

.form__notes-title {
    position: relative;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
}

#textarea {
    border: 1px solid rgb(234, 234, 234);
    width: 350px;
    min-height: 120px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    line-height: 15px;
    resize: vertical;

    &:focus {
        outline: none;
    }
}

// form notes end


// ============================================
// checkout order start

.checkout__order {
    width: 405px;
}

.checkout__order-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 21px;
}

.checkout__order-list {
    margin-bottom: 17px;
}

.checkout__order-list-title {
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
    padding-bottom: 10px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 11px;
}

.checkout__order-list-item {
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid black;
    padding-right: 10px;
    background: rgb(251, 251, 251);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
        margin-bottom: 0;
    }
}

.checkout__order__list-item-good {
    display: flex;
    align-items: center;
    gap: 11px;
}

.checkout__order-list-item-good-img {
    width: 70px;
}

.checkout__order-list-item-good-sku {}

.checkout__order-list-item-good-sku-title {
    max-width: 150px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 6px;
}

.checkout__order-list-item-good-sku-num {
    text-transform: uppercase;
    line-height: 16px;
    color: rgb(165, 165, 165);

    & span {
        line-height: 16px;
        color: rgb(114, 114, 114);
    }
}

.checkout__order-list-item-num {
    color: rgb(114, 114, 114);
    line-height: 16px;
}

.checkout__order-list-item-total {}

.checkout__order-list-item-total-price {
    text-align: end;
    word-break: break-all;
    width: 80px;
    max-width: 80px;
    color: rgb(70, 163, 88);
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

// checkout order total start 

.checkout__order-total {
    margin-bottom: 47px;
}

.checkout__order-total-coupon {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 50px;
}

.checkout__order-total-coupon-text {
    line-height: 16px;
}

.checkout__order-total-coupon-click {
    cursor: pointer;
    font-weight: 500;
    line-height: 16px;
    color: rgb(70, 163, 88);
    transition: all .1s ease-in;

    &:hover {
        color: rgb(65, 120, 76);
    }
}

.checkout__order-total-coupon-input {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;

    & input {
        max-width: 200px;
        text-transform: uppercase;
        font-size: 14px;
        padding: 5px;
    }

    & input:focus {
        outline: none;
    }
}

.checkout__order-total-sum {}

.checkout__order-total-sum-inner {}

.checkout__order-total-sum-subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkout__order-total-sum-subtotal-title {
    font-size: 15px;
    max-width: 130px;

    line-height: 16px;
}

.checkout__order-total-sum-subtotal-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
}

.checkout__order-total-sum-discount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkout__order-total-sum-discount-title {
    max-width: 130px;
    font-size: 15px;
    line-height: 16px;
}

.checkout__order-total-sum-discount-price {
    font-size: 15px;
    line-height: 16px;
}

.checkout__order-total-sum-shiping {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 15px;
}

.checkout__order-total-sum-shiping-title {
    max-width: 130px;

    font-size: 15px;
    line-height: 16px;
}

.checkout__order-total-sum-shiping-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
}

.checkout__order-total-sum-shiping-view {
    color: rgb(70, 163, 88);
    line-height: 16px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 0;
}

.checkout__order-total-result {
    display: flex;
    justify-content: space-between;
}

.checkout__order-total-result-title {
    max-width: 130px;

    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.checkout__order-total-result-price {
    color: rgb(70, 163, 88);
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

// payment start

.checkout__order-payment {
    width: 321px;
}

.checkout__order-payment-title {
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
}

.checkout__order-payment-list {
    margin-bottom: 50px;
}

.checkout__order-payment-list-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 11px 0 8px 11px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 3px;

    &:last-child {
        margin-bottom: 0;
    }

}

#payment,
#payment2,
#payment3 {
    width: 1px;
    height: 1px;
    cursor: pointer;
    position: absolute;
    top: 14px;
    width: 16px;
    left: 6px;

    &[type="radio"]:checked+.checkout__order-payment-list-item-input-decor:after {
        background-color: rgb(70, 163, 88);
        ;
    }

}

.checkout__order-payment-list-item-input-decor {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    position: relative;
    border: 1.2px solid rgb(70, 163, 88);

    &::after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 50%;
    }

}

.checkout__order-payment-list-item-img {
    cursor: pointer;
}

.checkout__order-payment-list-item-text {
    cursor: pointer;
    font-size: 15px;
    line-height: 16px;
}

// checkout order button start

.checkout__order-payment-button {
    width: 100%;
    text-align: center;
    margin-bottom: 210px;
}

.checkout__order-payment-btn {
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
    width: 320px;
    padding: 12px 0;
    border-radius: 3px;
    background: rgb(70, 163, 88);
    transition: all .2s ease-in;

    &:hover {
        background: rgb(59, 111, 69);
    }
}

// checkout modal

.modal {
    position: fixed;
    background: rgba(10, 13, 18, 0.25);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.modal__checkout-active {
    position: absolute;
    width: 578px;
    top: 166px;
    left: calc(50% - 230px);
    background-color: rgb(255, 255, 255);
    cursor: default;
}

.modal__checkout-content {
    width: 100%;
}

.modal__checkout-content-header {
    background: rgba(56, 95, 38, 0.06);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 29px 0 15px 0;
}

.modal__checkout-content-header-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 17px;
    background-color: inherit;
    fill: rgb(70, 163, 88);
    transition: all .2s ease-in;

    &:hover {
        fill: red;
    }
}

.modal__checkout-content-header-img {
    margin-bottom: 16px;
}

.modal__checkout-content-header-title {
    font-size: 16px;
    line-height: 16px;
    color: rgb(114, 114, 114);
    margin-bottom: 15px;
}