.footer {}

.page__footer {}

.footer__inner {
    @include container();
    padding: 25px 25px 23px 24px;

    @include media("max", "xs") {
        padding: 0 15px;
        width: 320px;
        max-width: 320px;
    }
}

// footer recomendation start

.footer__recomendation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include media("max", "xs") {
        max-width: 320px;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
    }
}

.footer__recomendation-list {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include media("max", "xs") {
        display: none;
        max-width: 320px;
        align-items: center;
        flex-direction: column;
    }
}

.footer__recomendation-list-item {
    max-width: 203px;
    display: inline-block;
    position: relative;

    &:last-child::after {
        display: none;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -33px;
        width: 1px;
        height: 100%;
        background: rgba(70, 163, 88, 0.1);
    }

    @include media("max", "xs") {
        padding: 10px 0;
        text-align: center;
        margin-bottom: 30px;

        // background: linear-gradient(134.12deg, rgba(70, 163, 88, 0.2) 1.082%, rgba(70, 163, 88, 0.1) 99.232%);

        &::after,
        &::before {
            display: none;
        }
    }
}

.footer__recomendation-list-item-title {
    margin-top: 5px;
    margin-bottom: 9px;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;

    @include media("max", "xs") {
        font-size: 24px;
        max-width: 200px;
        margin-bottom: 20px;
    }
}

.footer__recomendation-list-item-description {
    color: rgb(114, 114, 114);
    line-height: 22px;
    max-width: 204px;

    @include media("max", "xs") {
        font-size: 20px;
        max-width: 200px;
    }
}

.footer__newsletters {
    position: relative;
    width: 354px;
    margin-left: 62px;

    @include media("max", "xs") {
        width: 320px;
        margin-left: 0;
    }
}

.footer__newsletters-mob{
    @include media("max", "xs"){
        display: none;
    }
}

.footer__newsletters-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 18px;
}

.footer__newsletters-input {
    margin-bottom: 17px;
    position: relative;
    min-width: 260px;
    color: rgb(172, 172, 172);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 11px;
    font-family: 'Cera Pro', sans-serif;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);

    &:active,
    &:focus {
        outline: none;
    }

    @include media("max", "xs") {
        min-width: 200px;
    }
}

.footer__newsletters-btn {
    cursor: pointer;
    position: absolute;
    top: 34px;
    right: 16px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 0px 6px 6px 0px;
    background: rgb(70, 163, 88);
    border: none;
    padding: 12px 21px;
    transition: all .2s ease-in;

    &:hover {
        background: rgb(57, 124, 71);
    }

    @include media("max", "xs") {
        right: 45px;

        &:hover {
            pointer-events: none;
        }
    }
}

.footer__newsletters-description {
    min-width: 344px;
    color: rgb(114, 114, 114);
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;

    @include media("max", "xs") {
        min-width: 320px;
    }
}

// footer recomendation end

// footer contacts start

.footer__contacts {
    padding: 28px 24px;
    margin-left: -24px;
    margin-right: -24px;
    background: rgba(70, 163, 88, 0.1);

    @include media("max", "xs") {
        background: none;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
}

.footer__contacts-list {
    display: flex;
    justify-content: space-between;

    @include media("max", "xs") {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.footer__contacts-list-item {
    display: flex;
    align-items: center;
    gap: 10px;


    @include media("max", "xs") {
        width: 320px;
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }
}

.footer__contacts-list-item-logo {
    width: 200px;

    @include media("max", "xs") {
        display: inline-flex;
        width: 320px;
        margin-bottom: 30px;
        padding-right: 15px;
        pointer-events: none;
    }
}

.footer__contacts-list-item-mark {
    @include media("max", "xs") {
        margin-bottom: 10px;
    }
}

.footer__contacts-list-item-street {
    width: 200px;
    max-width: 250px;
    line-height: 22px;
    transition: all .2s ease-in;

    @include media("max", "xs") {
        margin-bottom: 10px;
        pointer-events: none;
    }
}

.footer__contacts-list-item-email {
    width: 200px;
    max-width: 250px;
    transition: all .2s ease-in-out;

    @include media("max", "xs") {
        margin-top: 10px;
        margin-bottom: 10px;
        pointer-events: none;
    }
}

.footer__contacts-list-item-phone {
    width: 200px;
    max-width: 250px;
    transition: all .2s ease-in;

    @include media("max", "xs") {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

// footer contacts end

// footer menu start

.footer__menu {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;

    @include media("max", "xs") {
        width: 320px;
        flex-direction: column;
        align-items: center;
    }
}

.footer__menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include media("max", "xs") {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.footer__menu-list-item {
    display: flex;
    flex-direction: column;
    width: 140px;
    max-width: 170px;

    @include media("max", "xs") {
        margin-bottom: 30px;

    }
}

.footer__menu-list-item-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;

    @include media("max", "xs") {
        margin-bottom: 20px;
    }
}

.footer__menu-list-item-link {
    line-height: 30px;
    margin-bottom: 10px;

    transition: all .1s ease-in;

    &:hover {
        font-size: 14px;
        font-weight: 700;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include media("max", "xs") {

        &:hover {
            font-size: inherit;
            font-weight: inherit;
        }

        line-height: 26px;
        margin-bottom: 5px;
    }
}

// footer menu end

.footer__menu-payments {
    margin-left: 170px;
    min-width: 344px;
    display: flex;
    flex-direction: column;

    @include media("max", "xs") {
        margin-bottom: 15px;
        margin-left: 0;
        max-width: 320px;
        align-items: center;
        text-align: center;
    }
}

.footer__menu-payments-social {
    margin-bottom: 33px;
}

.footer__menu-payments-social-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 22px;
}

.footer__menu-payments-social-list {
    display: flex;
    gap: 10px;

    @include media("max", "xs") {
        gap: 20px;
    }
}

.footer__menu-payments-social-list-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    fill: rgba(70, 163, 88, 0.6);

    &:hover {
        fill: #000;
        background: rgba(70, 163, 88, 0.1);
    }
}

.footer__menu-payments-pay {}

.footer__menu-payments-pay-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 22px;
    margin-bottom: 13px;
}