.intro__wrapper {
    background-color: rgba(187, 187, 187, 0.5);
    position: relative;
    display: flex;
    height: 450px;
    margin-top: 12px;
}

.intro__content {
    max-width: 580px;
    padding-top: 41px;
    padding-left: 40px;
}

.intro__content__welcome {
    padding: 0;
    text-transform: uppercase;
    color: rgba(61, 61, 61, 1);
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
}

.intro__content__title {
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(61, 61, 61, 1);
    font-size: 70px;
    line-height: 70px;
    padding: 0;

    & span {
        color: rgba(70, 163, 88, 1);
    }
}

.intro__content__description {
    margin-top: 12px;
    margin-bottom: 42px;
    color: rgba(114, 114, 114, 1);
    line-height: 24px;
    padding: 0;
}

.btn__intro {
    cursor: pointer;
    padding: 11px 27px 9px;
    background-color: rgba(70, 163, 88, 1);
    border-radius: 6px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    transition: all .2s ease-in;


    &:hover {
        background-color: rgb(66, 142, 81);
    }
}

.intro__block {
    position: relative;
}

.intro__block__small {
    position: absolute;
    bottom: 44px;
    left: 168px;
}

.intro__block__big {
    position: absolute;
    top: -76px;
    left: 113px;
}

.intro__circle {
    position: absolute;
    bottom: 44px;
    right: 666px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: rgba(70, 163, 88, 1);

    &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        right: 15px;
        width: 8px;
        height: 8px;
        background-color: rgba(70, 163, 88, 0.3);
    }

    &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        right: -15px;
        width: 8px;
        height: 8px;
        background-color: rgba(70, 163, 88, 0.3);
    }
}