.modal {
    display: none;
}

.page__modal {
    position: fixed;
    background: rgba(10, 13, 18, 0.25);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.modal__content {
    padding-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 578px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    border-bottom: 10px solid rgb(70, 163, 88);
}

.modal__content-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 17px;
    background-color: inherit;
    fill: rgb(70, 163, 88);
    transition: all 0.2s ease-in;
    background: none;

    &:hover {
        fill: red;
    }
}

.modal__content-tabs {
    gap: 11px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.modal__content-tabs-tab {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    transition: all .13s ease-in;

    &:hover {
        color: rgb(70, 163, 88);
    }
}

.modal__content-tabs-tab_active {
    color: rgb(70, 163, 88);
}

.modal__content-tabs-separator {
    height: 16px;
    width: 1px;
    background-color: black;
}

// ===================================
// modal login start

.modal__login {
    text-align: center;
}

.modal__login-title {
    margin-bottom: 14px;
}

.modal__login-form {
    position: relative;
    width: 300px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

.modal__login-form-input {
    width: 300px;
    cursor: pointer;
    margin-bottom: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    line-height: 16px;
    border-radius: 5px;



    &::placeholder {
        line-height: 16px;
        color: rgb(165, 165, 165);
    }

}

.modal__login-form input {
    border: 1px solid rgb(165, 165, 165);
    transition: all .2s ease-in;

    &:hover {
        border: 1px solid rgb(70, 163, 88);
    }

    &:focus {
        border: 1px solid rgb(70, 163, 88);

        outline: none;
    }
}

.form-hide__login {
    cursor: pointer;
    position: absolute;
    top: 73px;
    right: 13px;
    fill: #fff;
    stroke: rgb(114, 114, 114);
    ;

    &:hover {
        stroke: rgb(70, 163, 88);
    }
}


.modal__lofin-form-forgot {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: rgb(71, 144, 86);
    margin-bottom: 27px;

    &:hover {
        color: rgb(52, 112, 64);
    }
}

.modal__login-form-btn {
    cursor: pointer;
    border-radius: 5px;
    background: rgb(70, 163, 88);
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 16px 0;
    transition: all .2s ease-in;
    margin-bottom: 40px;

    &:hover {
        background: rgb(53, 117, 66);
    }
}

.modal__social {}

.modal__social-title {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 40px;
}

.modal__social-title-line {
    display: inline-block;
    width: 100px;
    height: 1px;
    background: rgb(234, 234, 234);
}

.modal__social-title-text {
    width: 100px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.modal__social-google {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border: 1px solid rgb(234, 234, 234);
}

.modal__social-google-text {
    color: rgb(114, 114, 114);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;

    &:hover {
        color: #1c4bb1;
    }
}

.modal__social-facebook {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border: 1px solid rgb(234, 234, 234);
}

.modal__social-facebook-text {
    color: rgb(114, 114, 114);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;

    &:hover {
        color: #1c4bb1;
    }
}

// modal login end

// ===================================
// modal register start

.modal__register {
    display: none;
    text-align: center;
}

.modal__register-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 14px;
}

.modal__register-form {
    position: relative;
    width: 300px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;

}

.modal__register-form input {
    border: 1px solid rgb(234, 234, 234);

    transition: all .2s ease-in;

    &:hover {
        border: 1px solid rgb(70, 163, 88);

    }

    &:focus {
        border: 1px solid rgb(70, 163, 88);

        outline: none;
    }

}

.modal__register-form-input {
    cursor: pointer;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(234, 234, 234);
    margin-bottom: 16px;


    &::placeholder {
        color: rgb(165, 165, 165);
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}

.form-hide__register {
    cursor: pointer;
    position: absolute;
    top: 119px;
    right: 13px;
    fill: #fff;
    stroke: rgb(114, 114, 114);

    &:hover {
        stroke: rgb(70, 163, 88);
    }
}


.modal__register-form-btn {
    cursor: pointer;
    border-radius: 5px;
    background: rgb(70, 163, 88);
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 16px 0;
    transition: all .2s ease-in;
    margin-bottom: 40px;

    &:hover {
        background: rgb(53, 117, 66);
    }
}

.modal__social {}

.modal__social-title {}

.modal__social-title-line {}

.modal__social-title-text {}

.modal__social-google {}

.modal__social-google-text {}

.modal__social-facebook {}

.modal__social-facebook-text {}

// modal register end
// ===================================