// modal login start
.modal {}

.modal__login {
    position: fixed;
    background: rgba(10, 13, 18, 0.25);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.modal__login-active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 578px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    border-bottom: 10px solid rgb(70, 163, 88);
}

.modal__login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.modal__login-content-header {
    margin-bottom: 50px;
}

.modal__content-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 17px;
    background-color: inherit;
    fill: rgb(70, 163, 88);
    transition: all 0.2s ease-in;
    background: none;

    &:hover {
        fill: red;
    }
}

// modal header title text 

.modal__header-title {
    user-select: none;
    display: flex;
    user-select: none;
    gap: 30px;
}

.modal__header-title-text {
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    transition: all .2s ease-in;

    &:hover {
        color: rgb(70, 163, 88);
    }
}

.modal__header-title-text-login {}

.modal__header-title-text-login_active {
    user-select: none;
    color: rgb(70, 163, 88);
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
}

// modal header title text end



.modal__login-content-hedaer-title-separator {
    width: 1px;
    height: 16px;
    background: rgb(61, 61, 61);
}


.modal__login-content-auth {
    position: relative;
    width: 300px;
}

.modal__login-content-auth-text {
    width: 300px;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 14px;
}


.modal__login-form {
    position: relative;
    margin-bottom: 50px;
}

.modal__login-form input {
    border: 1px solid rgb(70, 163, 88);

    &:focus {
        border: 1px solid rgb(234, 234, 234);
        outline: none;
    }
}

.modal__login-form-input {
    margin-bottom: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    line-height: 16px;
    width: 100%;
    border-radius: 5px;

    &::placeholder {
        line-height: 16px;
        color: rgb(165, 165, 165);
    }

}


.modal__login-form-forgot {
    cursor: pointer;
    text-align: end;
    color: rgb(70, 163, 88);
    line-height: 16px;
    margin-bottom: 30px;

    &:hover {
        color: rgb(71, 144, 86);
    }
}

.modal__login-form-button {
    cursor: pointer;
    border-radius: 5px;
    background: rgb(70, 163, 88);
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 16px 0;
    transition: all .2s ease-in;

    &:hover {
        background: rgb(53, 117, 66);
    }
}

.modal__login-form-hide {
    cursor: pointer;
    position: absolute;
    top: 71px;
    right: 12px;
    stroke: #727272;
}

.modal__login-content-social {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.modal__login-content-social-title {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.modal__login-content-social-title-line {
    display: inline-block;
    width: 100px;
    height: 1px;
    background: rgb(234, 234, 234);
}

.modal__login-content-social-title-text {
    width: 80px;
}

// google start
.modal__login-content-social-google {
    cursor: pointer;
    color: rgb(114, 114, 114);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(234, 234, 234);
    margin-bottom: 15px;
    transition: all .2s ease-in;

    &:hover {
        color: rgb(60, 21, 237);
    }
}

.modal__login-content-social-google-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

// facebook start

.modal__login-content-social-facebook {
    cursor: pointer;
    color: rgb(114, 114, 114);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(234, 234, 234);
    transition: all .2s ease-in;

    &:hover {
        color: rgb(60, 21, 237);
    }
}

.modal__login-content-social-facebook-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

// modal login end
// =============================================
// modal register start 

.modal {}

.modal__registr {
    display: none;
    position: fixed;
    background: rgba(10, 13, 18, 0.25);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.modal__registr-active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 578px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    border-bottom: 10px solid rgb(70, 163, 88);
}

.modal__registr-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.modal__registr-content-header {
    margin-bottom: 50px;
}

// modal header title text 

.modal__header-title {
    user-select: none;
    display: flex;
    user-select: none;
    gap: 30px;
}

.modal__header-title-text {
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    transition: all .2s ease-in;

    &:hover {
        color: rgb(70, 163, 88);
    }
}

.modal__header-title-text-login {}

.modal__header-title-text-registr_active {
    user-select: none;
    color: rgb(70, 163, 88);
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
}

// modal header title text end

.modal__registr-content-hedaer-title-separator {
    width: 1px;
    height: 16px;
    background: rgb(61, 61, 61);
}


.modal__registr-content-auth {
    position: relative;
    width: 300px;
}

.modal__registr-content-auth-text {
    width: 300px;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 14px;
}

.modal__registr-form {
    position: relative;
    margin-bottom: 40px;
}

.modal__registr-form input {
    border: 1px solid rgb(70, 163, 88);

    &:focus {
        border: 1px solid rgb(234, 234, 234);
        outline: none;
    }
}

.modal__registr-form-input {
    margin-bottom: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    line-height: 16px;
    width: 100%;
    border-radius: 5px;

    &::placeholder {
        line-height: 16px;
        color: rgb(165, 165, 165);
    }
}

.modal__registr-form-hide {
    cursor: pointer;
    position: absolute;
    top: 130px;
    right: 12px;
    stroke: #727272;
}


.modal__registr-form-button {
    cursor: pointer;
    border-radius: 5px;
    background: rgb(70, 163, 88);
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 16px 0;
    transition: all .2s ease-in;

    &:hover {
        background: rgb(53, 117, 66);
    }
}

.modal__registr-content-social {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.modal__registr-content-social-title {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.modal__registr-content-social-title-line {
    display: inline-block;
    width: 100px;
    height: 1px;
    background: rgb(234, 234, 234);
}

.modal__registr-content-social-title-text {
    width: 100px;
}

.modal__registr-content-social-google {
    cursor: pointer;
    color: rgb(114, 114, 114);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(234, 234, 234);
    margin-bottom: 15px;
    transition: all .2s ease-in;

    &:hover {
        color: rgb(60, 21, 237);
    }
}

.modal__login-content-social-google-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.modal__registr-content-social-facebook {
    cursor: pointer;
    color: rgb(114, 114, 114);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(234, 234, 234);
    transition: all .2s ease-in;

    &:hover {
        color: rgb(60, 21, 237);
    }
}

.modal__registr-content-social-facebook-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}