.header__mob {
    display: none;
}

.product {}

.page-product {
    margin-top: 36px;

    @include media("max", "xs") {
        background: black;
        margin-top: 0;
    }
}

.product__inner {
    @include container();

    @include media("max", "xs") {
        padding: 0;
        position: relative;
        width: 320px;
        max-width: 320px;
    }
}

.product__inner-swiper {
    @include media("max", "xs") {
        display: none;
    }
}

.product__inner-swiper_active {
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;

    @include media("max", "xs") {
        display: none;
    }
}

.product__inner-info {
    margin-top: 43px;
    margin-bottom: 92px;
    display: flex;
    justify-content: space-between;

    @include media("max", "xs") {
        margin-top: 0;
        display: block;
        margin-bottom: 30px;
    }
}

// info left mob start

.product__inner-info-img-mob {
    width: 100%;
}

.product__inner-info-img-mob-wrapper {
    display: flex;
    justify-content: center;
}

.product__inner-info-img-mob-wrapper-item {
    display: none;

    & img{
        width: 260px;
    }
}

.product__inner-info-img-mob-wrapper-item_active{
    display: block;
}
// info left mob end

.product__inner-info-left {
    max-width: 573px;
    gap: 30px;
    display: flex;

    @include media("max", "xs") {
        display: none;
        max-width: 320px;
        margin-bottom: 60px;
    }
}

.product__inner-info-left-wrapper {
    border-color: rgb(70, 163, 88);
}

.product__inner-info-left-wrapper-item {
    width: 100px;
    height: 100px;
    background-color: rgb(251, 251, 251);
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        border: 1px solid rgb(70, 163, 88);
    }

    & img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.product__inner-info-left-wrapper-item_active {
    border: 1px solid rgb(70, 163, 88);
}

.product__inner-info-left-main {
    position: relative;
    max-width: 444px;
    padding: 25px 23px 15px 17px;
    background-color: #FBFBFB;

    & img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.product__inner-info-left-main-disclose {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13px;
    right: 13px;
    height: 30px;
    width: 30px;
}

.product__inner-info-left-main-disclose-img {
    display: inline-block;
    width: 15px;
    height: 15px;
}


.product__inner-info-right {
    width: 574px;
    max-width: 574px;

    @include media("max", "xs") {
        max-width: 320px;
        width: 320px;
        border-radius: 31px 31px 0 0;
        width: 320px;
    }
}

.product__inner-info-right-wrapper {

    @include media('max', "xs") {
        padding-left: 15px;
        border-radius: 31px 31px 0 0;
        background: rgb(255, 255, 255);
        padding-top: 35px;
        padding-right: 25px;
        position: relative;
        width: 320px;
        max-width: 320px;
    }
}

.product__inner-info-right-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 21px;

    @include media("max", "xs") {
        display: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 16px;
        max-width: 150px;
        margin-bottom: 10px;
    }
}


// right raiting mob
.product__inner-info-right-raiting-mob {
    display: none;

    @include media("max", "xs") {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.product__inner-info-right-mob-title {
    width: 140px;
}

.product__inner-info-right-rating-stars-mob {
    display: flex;
}

.product__inner-info-right-rating-mob {
    display: flex;
    align-items: center;
    max-width: 120px;
    width: 100px;
    border-radius: 32px;
    border: 1px solid #46A358;
    padding: 6px 7px 5px 8px;
}

.product__inner-info-right-rating-star {
    margin-right: 4px;
}

.product__inner-info-right-raiting-mob-count {
    color: rgb(61, 61, 61);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin-right: 5px;
}

.product__inner-info-right-raiting-mob-comm {
    color: rgb(114, 114, 114);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

// right raiting mob end


.product__inner-info-right-coast {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding-bottom: 12px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);

    @include media("max", "xs") {
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.product__inner-info-right-price {
    color: rgb(70, 163, 88);
    font-size: 22px;
    font-weight: 700;
    line-height: 16px;

    @include media("max", "xs") {
        display: none;
    }
}

.product__inner-info-right-rating {
    cursor: pointer;
    display: flex;

    @include media("max", "xs") {
        display: none;
    }
}

.product__inner-info-right-list {
    align-items: center;
    display: flex;
}

.product__inner-info-right-rating-stars {
    display: flex;
    align-items: flex-start;

    @include media("max", "xs") {}
}

.product__inner-info-right-rating-star {
    line-height: 1;
    display: inline-block;
    color: rgb(196, 196, 196);
    width: 13px;
    height: 13px;

    &:before {
        content: "★";
    }
}

.product__inner-info-right-rating-star_active {
    color: rgb(255, 172, 12);

}



.product__inner-info-right-rating-decr {
    font-size: 15px;
    line-height: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 12px;

    @include media("max", "xs") {
        display: none;
    }
}

// block description
.product__inner-info-right-description {
    width: 550px;
    max-width: 573px;
    margin-top: 15px;
    margin-bottom: 24px;

    @include media("max", "xs") {
        width: 320px;
        max-width: 320px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.product__inner-info-right-description-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 10px;

    @include media("max", "xs") {
        display: none;
    }
}

.product__inner-info-right-description-text {
    color: rgb(114, 114, 114);
    line-height: 24px;

    @include media("max", "xs") {
        display: none;
    }
}

.product__inner-info-right-description-text-mob {
    color: rgb(114, 114, 114);
    line-height: 24px;
    position: relative;

    @include media("max", "xs") {
        width: 320px;
        max-width: 300px;
        word-wrap: break-word;
    }
}

// description end

// block size start

.product__inner-info-right-size {
    margin-bottom: 23px;
}

.product__inner-info-right-size-title {
    margin-bottom: 11px;

    @include media("max", "xs") {
        font-size: 15px;
        font-weight: 500;
        line-height: 16px;
    }
}

.product__inner-info-right-size-circle-list {
    display: flex;
}

.product__inner-info-right-size-circle-list-item {
    margin-right: 10px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(114, 114, 114);
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    transition: all .2s ease-in-out;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: rgb(70, 163, 88);
        border: 1px solid rgb(70, 163, 88);
    }
}

.product__inner-info-right-size-circle-list-item_active {
    border: 1px solid rgb(70, 163, 88);
    color: rgb(70, 163, 88);
}

// block size end

// block count start 

.product__inner-info-right-count {
    display: flex;
    margin-bottom: 26px;

    @include media("max", "xs") {
        display: none;
    }
}

.count-wrap {
    display: flex;
    align-items: center;
    margin-right: 26px;
}

.count-wrap__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 33px;
    height: 38px;
    border-radius: 29px;
    border: none;
    background: rgba(70, 163, 88, 1);
    transition: all .2s ease-in;

    &:hover {
        background: rgba(70, 163, 88, 0.8);
    }
}

.count-wrap__btn_minus {

    &::before {
        content: "";
        width: 11px;
        height: 2px;
        background: rgba(255, 255, 255, 1);
    }
}

.quantity {
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    border: none;
    width: 40px;

    &:focus {
        outline: none;
    }
}

.count-wrap__btn_plus {
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        background: rgba(255, 255, 255, 1);
    }

    &::before {
        width: 11px;
        height: 2px;
    }

    &::after {
        width: 2px;
        height: 11px;
    }
}

.product__inner-product-info-right-count-buy {
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    width: 130px;
    max-width: 130px;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(70, 163, 88, 1);
    transition: all .2s ease-in;

    &:hover {
        background-color: rgb(67, 141, 82);
    }
}

.product__inner-product-info-right-count-add {
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    width: 130px;
    max-width: 130px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(70, 163, 88, 1);
    border-radius: 6px;
    text-transform: uppercase;
    color: rgba(70, 163, 88, 1);
    transition: all .2s ease-in-out;

    &:hover {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(70, 163, 88, 1);
    }
}

.product__inner-product-info-right-count-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid rgba(70, 163, 88, 1);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    fill: rgba(70, 163, 88, 1);
    transition: all .2s ease-in;

    &:hover {
        fill: red;
    }
}

// block count mobile start

.product__inner-info-right-count-mob {
    display: none;

    @include media("max", "xs") {
        position: fixed;
        z-index: 10000;
        bottom: 0;
        left: 0;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        padding: 20px 28px 36px 25px;
        border-radius: 40px 40px 0px 0px;
        box-shadow: 0px 0px 20px 0px rgba(205, 205, 205, 0.3);
        background: rgb(255, 255, 255);
        border-radius: 20px 20px 0 0;
        background: #fff;
        margin-top: 100px;
    }
}

.count-wrap__mob {
    @include media("max", "xs") {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
}

.count-wrap__mob-btns {
    display: flex;
    flex: 1;
}


.count-wrap__mob-text {
    @include media("max", "xs") {
        color: rgb(114, 114, 114);
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;
        margin-right: 11px;
    }
}


.count-wrap__mob-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 28px;
    border-radius: 29px;
    border: none;
    background: rgb(246, 246, 246);
}

.count-wrap__mob-btn_minus {
    &::before {
        content: "";
        width: 9px;
        height: 2px;
        background: rgba(165, 165, 165, 1);
    }
}

.quantity {}

.quantity__mob {}

.count-wrap-mob__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 28px;
    border-radius: 29px;
    border: none;
    background: rgb(246, 246, 246);
}

.count-wrap__mob-btn_plus {
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        background: rgba(165, 165, 165, 1);
    }

    &::before {
        width: 11px;
        height: 2px;
    }

    &::after {
        width: 2px;
        height: 11px;
    }
}

.count-wrap__mob-price {
    color: rgb(70, 163, 88);
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
}

.product__inner-product-info-right-count-mob-buy {
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 20px 63px;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 10px 20px 0px rgba(70, 163, 88, 0.3);
    background: linear-gradient(136.78deg, rgb(70, 163, 88) -4.595%, rgba(70, 163, 88, 0.8) 121.624%);
}

.product__inner-product-info-right-count-mob-add {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 40px;
    background: rgb(246, 246, 246);
}

.product__inner-product-info-right-count-mob-favorite {
    @include media("max", "xs") {
        display: none;
    }
}

// block count mobile end

// block count end

.product__inner-info-right-sku {
    margin-bottom: 10px;
    max-width: 220px;
}

.product__inner-info-right-sku-name {
    color: rgb(172, 172, 172);
}

.product__inner-info-right-sku-num {
    color: rgb(114, 114, 114);
}

.product__inner-info-right-categories {
    margin-bottom: 10px;
    max-width: 220px;

}

.product__inner-info-right-categories-title {
    color: rgb(172, 172, 172);
}

.product__inner-info-right-categories-name {
    color: rgb(114, 114, 114);
}

.product__inner-info-right-tags {
    margin-bottom: 18px;
    max-width: 220px;
}

.product__inner-info-right-tags-title {
    color: rgb(172, 172, 172);
}

.product__inner-info-right-tags-name {
    color: rgb(114, 114, 114);
}

// share start
.product__inner-info-right-share {
    margin-top: 50px;
}

.product__inner-info-right-share-social {
    align-items: center;
    display: flex;

    @include media("max", "xs") {
        display: block;
    }
}

.product__inner-info-right-share-social-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    margin-right: 20px;

    @include media("max", "xs") {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
}

.product__inner-info-right-share-social-list {
    gap: 10px;
    display: flex;
    align-items: center;


    @include media("max", "xs") {
        justify-content: center;
        gap: 50px;
    }
}

.product__inner-info-right-share-social-list-item {
    cursor: pointer;
    transition: all .2s ease-in;

    &:hover {
        fill: rgb(70, 163, 88);
    }
}

// share end

// product description start



.product__inner-description {
}

.product__inner-description-wrapper {
}

.product__inner-description-sections {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);

    @include media("max", "xs") {
        width: 320px;
        display: block;
        text-align: center;
        border-bottom: none;
        padding-bottom: 0;
    }
}

.product__inner-description-section {
    margin-right: 29px;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;

    &:last-child {
        margin-right: 0;
    }

    &:hover::after {
        transition: all .3s ease-in;
        opacity: 1;
    }

    &:after {
        content: "";
        opacity: 0;
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 3px;
        background: rgb(70, 163, 88);
        width: 100%;
    }

    @include media("max", "xs") {
        margin-right: 0;

        &:after {
            display: none;
        }
    }
}

.product__inner-description-section_active {
    color: rgb(70, 163, 88);
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;

    &::after {
        opacity: 1;
    }
}

.product__inner-description-section-reviews {
    @include media("max", "xs") {
        display: none;
    }
}

.product__inner-description-info {
    margin-top: 18px;
    margin-bottom: 127px;

    @include media("max", "xs") {
        margin-bottom: 50px;
    }
}

.product__inner-description-info-text {
    max-width: 100%;
    color: rgb(114, 114, 114);
    line-height: 24px;
    margin-bottom: 34px;

    @include media("max", "xs") {
        width: 320px;
        max-width: 320px;
        margin-bottom: 10px;
    }
}

.product__inner-description-info-living {
    margin-top: 18px;

    @include media("max", "xs") {
        width: 320px;
        max-width: 320px;
    }
}

.product__inner-description-info-living-title {
    font-weight: 700;
    line-height: 24px;

    @include media("max", "xs") {
        text-align: center;
        margin-bottom: 10px;
    }
}

.product__inner-description-info-living-text {
    color: rgb(114, 114, 114);
    line-height: 24px;
}

.product__inner-description-info-dining {
    margin-top: 18px;

    @include media("max", "xs") {
        max-width: 320px;
        width: 320px;
    }
}

.product__inner-description-info-dining-title {
    font-weight: 700;
    line-height: 24px;

    @include media("max", "xs") {
        margin-bottom: 10px;
        text-align: center;
    }
}

.product__inner-description-info-dining-text {
    color: rgb(114, 114, 114);
    line-height: 24px;
}

.product__inner-description-info-office {
    margin-top: 18px;

    @include media("max", "xs") {
        width: 320px;
        max-width: 320px;
    }
}

.product__inner-description-info-office-title {
    font-weight: 700;
    line-height: 24px;

    @include media("max", "xs") {
        text-align: center;
        margin-bottom: 10px;
    }
}

.product__inner-description-info-office-text {
    color: rgb(114, 114, 114);
    line-height: 24px;
}

// product desctiption end